*{
    margin: 0;
    padding: 0;
   
}
body{
    background-size: cover;
}
.main-container{
    display: flex;
    width: 60%;
    margin: 40px auto;    
}

.left-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    width:50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-container img{
    width: 500px;
    margin: auto -20px;
}

#btnVolver{
    position: relative;
    width: 250px;
    height: 40px;
    background-color: rgb(3, 59, 73);
    font-size: 20px;
    border: solid 2px white;
    border-radius: 40px;
    transition: 1s;
    color: white;
    margin: auto 24%;
    bottom: 80px;
    
}



#btnVolver:hover{
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(3, 59, 73);
    color: rgb(3, 59, 73);
}



.right-container{
    width: 50%;
    background-color: rgb(3, 59, 73);
    color: rgb(0, 0, 0);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-container h3{
    padding: 20px 50px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


.form-floating{
    width: 80%;
    margin: 10px auto;
    color: rgb(3, 59, 73);
    
}

#btn-denunciar{
    position: relative;
    margin: 10px 33%;
    width: 150px;
    height: 40px;
    color: rgb(3, 59, 73);
    background-color: white;
    font-size: 20px;
    border: solid 2px rgb(3, 59, 73);
    border-radius: 5px;
    transition: 1s;
   
}

#btn-denunciar:hover{
    background-color: rgb(3, 59, 73);
    color: white;
    border: solid 2px white;
}

#btn-login{
    position: relative;
    margin: 40px 125px;
    padding: 5px;
    width: 150px;
    color: rgb(3, 59, 73);
    background-color: white;
    font-size: 20px;
    border: solid 2px rgb(3, 59, 73);
    border-radius: 5px;
    transition: 1s;
}

#btn-login:hover{
    background-color: rgb(3, 59, 73);
    color: white;
    border: solid 2px white;
}

.ok{
    margin-top: 20px;
    display: block;
    text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.bad{
    margin-top: 20px;
    display: block;
	text-align: center;
	width: 100%;
	padding: 15px;
	background-color: #a22;
	color: #e6e6e6;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

