*{
    margin: 0;
    padding: 0;
}

#main-container{
    
    display: grid;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: auto;
  
}

#logo{
    width: 200px;
    border-radius: 100px;
    text-align: center;
    margin-left: 10px;
}

#title-main{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:'Courier New', Courier, monospace;
    display: block;
    white-space: nowrap;
    border-right: 1px solid;
    width: 14ch;
    animation: typing 2s steps(14), blink .5s infinite step-end alternate ;
    overflow: hidden;
    
}

@keyframes typing {
    from{width: 0;}
}

@keyframes blink {
    50%{border-color: transparent;}
}

.form-label{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
    color: black;
    font-weight:bold;
}

.form-input{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 230px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    border: solid 1px black;
    font-style: italic;
}

#btn-iniciar{
    width: 240px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

#btn-iniciar:hover{
    background-color: rgb(42, 42, 42);
}

#forget-password{
    padding-right: 15px;
    text-decoration: none;
    color: rgb(0, 59, 253);
}

#register{
    color: rgb(0, 59, 253);
    text-decoration: none;
}

.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}