*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 2px black;
    background-color: white;
}

.nav-link{   
    color: #000000;
    font-weight: bold;

}

.dropdown-item{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.dropdown-item:hover{
    background-color: rgb(255, 254, 254);
    color: rgb(25, 77, 234);
}

.dropdown-item:active{
    background-color: rgb(255, 254, 254);
    color: black;
}

#error{
    width: 500px;
    height: 300px;
    color: black;
    display: none;
    position: absolute;
    font-size: 60px;
}


