.container {
  display: flex;
}

#container-logo {
  width: 50%;
}

div img {
  width: 200px;
  height: 200px;
}

#main-container {
  width: 50%;
  padding-left: 50px;
  padding-top: 20px;
}

#main-container h1 {
  font-family: "Single Day", cursive;
  font-size: 80px;
  text-shadow: 2px 2px 60px rgb(0, 0, 0);
}

#main-container p {
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
  text-shadow: 5px 5px 30px rgb(0, 0, 0);
}

main div h1 {
  margin-bottom: 45px;
  margin-top: 15px;
  font-size: 50px;
}

main div p {
  font-size: 18px;
}

main div input {
  margin-top: 35px;
  margin-left: 0px;
  margin-right: 25px;
  width: 35%;
  height: 40px;
  background-color: rgb(8, 68, 209);
  color: white;
  border: none;
  transition: 0.5s;
  font-size: 18px;
}

main div input:hover {
  transform: scale(1.1);
}

#main-image-container {
  width: 50%;
  text-align: end;
  margin-right: 50px;
  margin-top: 40px;
}

#img-main {
  width: 380px;
  height: 420px;
  box-shadow: 5px 5px 5px 2px #abadb1;
}

section {
  margin-top: 130px;
}

.row {
  width: 100%;
}

.col-6 {
  text-align: center;
}

.col-6 img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}

.col-6 p {
  margin-top: 30px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.col-7 {
  text-align: center;
  padding-top: 100px;
}

.col-7 img {
  height: 350px;
  width: 500px;
  border-radius: 0;
  box-shadow: 5px 5px 5px 2px #abadb1;
}

.col-5 {
  padding-top: 120px;
  text-align: center;
}

.col-5 h2 {
  font-size: 40px;
}

.col-5 p {
  font-size: 20px;
  margin-top: 50px;
  letter-spacing: 0.5px;
}

.latest-news {
  margin-top: 100px;
  text-align: center;
  font-family: "REM", sans-serif;
  font-weight: bolder;
}

.col-4 {
  text-align: center;
  padding-top: 50px;
}

#contenedor-denuncia {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
}

#texto-denuncia {
  margin-left: 20px;
  text-align: center;
}

footer {
  margin-top: 100px;
  background-color: rgb(4, 45, 92);
  color: white;
  padding-top: 25px;
}

#footer-content {
  width: 70%;
}

#footer-content p {
  padding-left: 20%;
  padding-top: 80px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .container {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #main-container h1 {
    font-family: "Single Day", cursive;
    font-size: 80px;
    text-shadow: 2px 2px 60px rgb(0, 0, 0);
  }

  #main-container {
    width: 100%;
    padding-top: 20px;
  }

  #main-image-container {
    width: 100%;
  }

  #img-main {
    width: 90%;
    height: 420px;
    box-shadow: 5px 5px 5px 2px #abadb1;
  }

  .col-7{
    margin-left: 15px; 
    width: 100%;
  }

.col-5{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    
}

.col-5 h2{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

.col-5 p{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.latest-news {
    font-size: 35px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  footer img{
    width: 300px;
    height: 300px;
   
  }

  footer .col-3 {
    width: 100%;
    display: block;
    padding-left: 150px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  footer h2{
    margin-top: 15px;
  }
  
}
