.container{
  position: relative;
  display: flex;
  text-align: center;  
}

.input{
  outline: none;
  height: 40px;
  width: 0;
  color: rgb(131, 128, 128);
  border-radius: 20px;
  font-size: 20px;
  border: none;
  padding: 18px 16px;
  transition: all .5s ease-in-out;
}

::placeholder{
  color: rgb(131, 128, 128);
}

.btn{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;;
}

.icono {
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
  margin: 4px 10px;
  font-size: 20px;
  line-height: 80px;
  color: rgb(91, 107, 255);
  transition: all .5s ease-in-out;
}

.container:hover input{
  width: 350px;
  border: 1px solid rgb(91, 107, 255);
  padding: 5px 30px;
}

.container:hover .icono{
  transform: rotate(-360deg);
}

